html , body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Hesap makinesinin bütünün bulunduğu box style */
.container-box{
    height: 500px;
    width: 350px;
    margin: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.container-fluid{
    width: 100%;
    height: 100%;
}

/* Girilen sayıların ve cevabın js ile gösterildiği row style */
#result-section{
    display: flex;
    align-items: center;
    height: 25%;
    border: 1px solid #EEEEEE;
    border-bottom-width: 0;
    overflow: auto;
}

/* Tuş takımı row style baslangici */
#body{
    height: 75%;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table td{
    text-align: center;
    vertical-align: middle;
    width: 25%;
    border: 1px solid #EEEEEE;
}

.button-td button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    padding: 15px 0px 15px 0px;
}

.symbol{
    color: #F79327;
}

.number{
    color: black !important;
}

#result-button{
    background-color: #F79327;
    color: white;
}
#result-button button{
    color: #EEEEEE;
}

.button-td:hover{
    background-color: #EEEEEE;
}

#result-button:hover{
    background-color: #F97B22;
}

#result{
    text-align: right;
    font-size: 50px;
}